.aider.chat.history.md
.aider.input.history
.DS_Store
.DS_Store
.aider*
user_data/missed_questions.yaml
*.pyc
docs/issues.md
user_data/issues.yaml
.DS_Store
/dist
/kubelingo.egg-info
.env
*.cast
demo-kubelingo/
demo.sh
.DS_Store
.DS_Store
misc
misc/.aider.input.history
misc/.aider.chat.history.md
/build
questions/sample_topic.yaml
/pytest-of-user
