.aider.chat.history.md
.aider.input.history
.DS_Store
.DS_Store
.aider*
user_data/missed_questions.yaml
*.pyc
docs/issues.md
user_data/issues.yaml
user_data/performance.yaml
.DS_Store
/dist
/kubelingo.egg-info
.env
*.cast
demo-kubelingo/
demo.sh
.DS_Store
.DS_Store
misc