questions:
- question: You have a deployment named 'webapp' with label 'app=webapp'. Create a
    ClusterIP service named 'webapp-svc' to expose the deployment on port 80.
  solutions:
  - kubectl expose deployment webapp --name=webapp-svc --port=80 --target-port=80
- question: Create a manifest for a NodePort service named 'webapp-nodeport'. The
    service should forward traffic from a port on the node to port 80 on pods with
    the label 'app=webapp'.
  solutions:
  - apiVersion: v1
    kind: Service
    metadata:
      name: webapp-nodeport
    spec:
      ports:
      - port: 80
        protocol: TCP
        targetPort: 80
      selector:
        app: webapp
      type: NodePort
- question: Service manifest (ClusterIP) exposing app=web on port 80 to targetPort
    8080.
  solutions:
  - apiVersion: v1
    kind: Service
    metadata:
      name: web
    spec:
      ports:
      - port: 80
        targetPort: 8080
      selector:
        app: web
- question: Headless Service manifest for app=db on port 5432.
  solutions:
  - apiVersion: v1
    kind: Service
    metadata:
      name: db
    spec:
      clusterIP: None
      ports:
      - port: 5432
        targetPort: 5432
      selector:
        app: db
- question: Expose deployment frontend on port 80 as a ClusterIP service named frontend-svc.
  solutions:
  - kubectl expose deployment frontend --port=80 --type=ClusterIP --name=frontend-svc
  source: https://kubernetes.io/vi/docs/reference/kubectl/cheatsheet/#:~:text=,port%3D8000
- question: List all services.
  solutions:
  - kubectl get services
  source: https://kubernetes.io/docs/reference/kubectl/quick-reference/#:~:text=,current%20namespace%2C%20with%20more%20details
- question: Describe service frontend-svc.
  solutions:
  - kubectl describe service frontend-svc
  source: https://kubernetes.io/vi/docs/reference/kubectl/cheatsheet/#:~:text=,pod)
- question: Delete service frontend-svc.
  solutions:
  - kubectl delete service frontend-svc
  source: https://kubernetes.io/vi/docs/reference/kubectl/cheatsheet/#:~:text=,port%3D8000
- question: 'Create a Service `my-service` that selects pods with label `app: MyApp`.
    The service should expose TCP port 80 and target port 8080 on the pods.'
  solutions:
  - apiVersion: v1
    kind: Service
    metadata:
      name: my-service
    spec:
      ports:
      - port: 80
        protocol: TCP
        targetPort: 8080
      selector:
        app: MyApp
