
name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint commit messages
        uses: wagoid/commitlint-github-action@v4
        with:
          configFile: .commitlintrc.yaml
  test:
    runs-on: ubuntu-latest
    outputs:
      coverage-percent: ${{ steps.coverage.outputs.coverage-percent }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'  # Use a compatible Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install -r requirements.txt
        pip install pytest coverage

    - name: Run tests with coverage
      id: coverage
      run: |
        coverage run -m pytest
        coverage report | tee coverage.txt
        COVERAGE=$(grep TOTAL coverage.txt | awk '{print $4}' | sed 's/%//')
        echo "::set-output name=coverage-percent::$COVERAGE"

  
